{% extends "homeAdmin.html.twig" %}

{% block content %}
    <div class="container text-center">
        <h1 class="text-center">{{ data.title }}</h1><br/>
        <a href="index.php?route=articles&type={{ data.type }}"><p class="text-left"><span class="fa fa-angle-double-left"></span> retour à la
                liste</p></a><br/>
        <p>Article créé le {{ data.date|date("d/m/Y") }}</p>
        <div class="borderBlack padSummernote">
            {{ data.content|raw }}
        </div>
        <a href="index.php?route=modif-article&id={{ data.id }}" role="button" class="btn btn-primary">Modifier</a>
        <a href="index.php?route=supp-article&id={{ data.id }}&type={{ data.type }}" role="button"
           class="btn btn-danger">Supprimer</a>
    </div><br/>
{% endblock %}