{% extends "homeAdmin.html.twig" %}

{% block content %}
    <div class="container text-center">
        <h1 class="borderBlack">Liste des produits</h1><br/>
        {% if res is not empty %}
            <blockquote class="btn-success">{{ res }}</blockquote><br/>
        {% endif %}
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <a href="index.php?route=nouveau-chapeau">
                    <div class="thumbnail pad_articles borderBlack">
                        <img src="../img/logos/add.png" alt="ajouter-article">
                        <div class="caption">
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <div class="row">
                                        <h2 class="titre">Ajouter un nouvel Article</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            {% for data in datas %}

                <div class="col-sm-4 col-xs-12">
                    <a href="index.php?route=chapeau&id={{ data.id }}">
                        <div class="thumbnail pad_articles borderBlack">
                            <img src="../img/upload/{{ data.image }}" alt="{{ data.image }}">
                            <div class="caption">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12">
                                        <div class="row">
                                            <h2 class="titre">{{ data.name }}</h2>
                                        </div>
                                        <div class="row txt_com">
                                            <p>{{ data.content }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}