{% extends "homeAdmin.html.twig" %}

{% block content %}
    <div class="container text-center marginTab">
        <h1 class="borderBlack">Liste des images pour la page d'acceuil</h1>
        <hr/>
        {% if result is not empty %}
            <blockquote class="alert alert-success">{{ result }}</blockquote><br/>
        {% endif %}
        {% if noResult is not empty %}
            <blockquote class="alert alert-danger">{{ noResult }}</blockquote><br/>
        {% endif %}
        {{ form.render|raw }}
        <hr/>
        <table class="table table-hover text-center">
            <tr>
                <th>Aperçu</th>
                <th>Nom</th>
                <th>Image d'accueil</th>
                <th>Gestion de l'image</th>
            </tr>
            {% for picture in pictures %}
                <tr>
                    <td><img src="../img/upload/{{ picture.name }}" class="apercu"/></td>
                    <td>{{ picture.name }}</td>
                    {% if picture.visibility == 1 %}
                        <td><span class="fa fa-check fa-2x"></span></td>
                    {% else %}
                        <td><span class="fa fa-close fa-2x"></span></td>
                    {% endif %}
                    <td>
                        <form method="post">
                            <input type="hidden" name="id" value="{{ picture.id }}">
                            <button type="submit" name="submitVisibility" class="btn btn-success">Sélectionner</button>
                            <button type="submit" name="submitDelete" class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}