{% extends "homeAdmin.html.twig" %}

{% block content %}
    <div class="container text-center">
        <h1 class="borderBlack">Modifier un article : {{ type }}</h1><br/>
        <a href="index.php?route=articles&type={{ type }}"><p class="text-left"><span class="fa fa-angle-double-left"></span> retour à la
                liste</p></a><br/>
        {% if result is not empty %}
            <blockquote class="alert alert-success">{{ result }}</blockquote><br/>
        {% endif %}
        {% if noResult is not empty %}
            <blockquote class="alert alert-danger">{{ noResult }}</blockquote><br/>
        {% endif %}
        {{ form.render|raw }}<br/>
    </div>
{% endblock %}