{% extends "base.html.twig" %}
{% block title %}Articles{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-8 col-xs-offset-2">


                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-12 text-center">
                        <div class=" presentationArticles">
                            <h1><span class="borderBlack">Liste des {{ type }}s</span></h1><br/>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row marginContent text-center">
                    {% for data in datas %}
                        <div class="col-md-4 col-xs-12">
                            <a href="index.php?route=article&id={{ data.id }}">
                                <div class="thumbnail pad_articles borderBlack">
                                    <img src="../img/upload/{{ data.image }}" alt="{{ data.image }}">
                                    <div class="caption">
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12">
                                                <div class="row">
                                                    <h2 class="titre">{{ data.title }}</h2>
                                                    <p class="date">{{ data.date|date("d/m/Y") }}</p>
                                                </div>
                                                <div class="row txt_com">
                                                    <p>{{ data.sumup }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}

                    {% if type == 'marraine' and visibility.visibility == 1 %}
                    <div class="col-md-4 col-xs-12">
                        <a href="#">
                            <div class="thumbnail pad_articles borderBlack">
                                <img src="../img/fun.jpg" alt="recrutement_marraines">
                                <div class="caption">
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                            <div class="row">
                                                <h2 class="titre">Venez nous rejoindre</h2>
                                            </div>
                                            <div class="row txt_com">
                                                <p>Envie de devenir l'ambassadrice de nos chapeaux ?<br/></p>
                                                <p>Cliquez ici !</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endif %}

                    {% if type == 'partenaire' %}
                        <div class="col-md-4 col-xs-12">
                            <a href="#">
                                <div class="thumbnail pad_articles borderBlack">
                                    <img src="../img/fun.jpg" alt="recrutement_partenaires">
                                    <div class="caption">
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12">
                                                <div class="row">
                                                    <h2 class="titre">Venez nous rejoindre</h2>
                                                </div>
                                                <div class="row txt_com">
                                                    <p>Envie de nous soutenir et de devenir notre partenaire ?<br/></p>
                                                    <p>Cliquez ici !</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}

                    {% if type == 'portrait' %}
                        <div class="col-md-4 col-xs-12">
                            <a href="#">
                                <div class="thumbnail pad_articles borderBlack">
                                    <img src="../img/fun.jpg" alt="portraits">
                                    <div class="caption">
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12">
                                                <div class="row">
                                                    <h2 class="titre">Parlez nous de vous !</h2>
                                                </div>
                                                <div class="row txt_com">
                                                    <p>Laissez nous vos impressions ou partagez votre expérience !<br/></p>
                                                    <p>Cliquez ici !</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}