{% extends "base.html.twig" %}
{% block title %}Articles{% endblock %}

{% block content %}

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-8 col-xs-offset-2">


                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-xs-12 text-center">
                        <div class=" presentationArticles">
                            {% if type == 'blog' %}
                            <h1><span class="borderBlack">La rédaction</span></h1><br/>
                            <p>Cette odyssée chapelière nous donne à vivre des expériences riches, singulières,
                                parfois drôles, inédites ou juste pratiques. Ici, nous partageons avec vous nos joies,
                                nos réflexions, nos connaissances, nos découvertes, nos rencontres, nos savoir-
                                faire.<br/>
                                Nous appelons de tout coeur à un plaisir réciproque. Bonne lecture !<br/>
                            </p>
                                {% endif %}
                            {% if type == 'marraine' %}
                                <h1><span class="borderBlack">Nos marraines</span></h1><br/>
                                <p>Parce qu’on ne réalise jamais rien complètement seul. Parce que le soutien est
                                    indispensable aux grands projets. Parce que nous aspirons à devenir chaque jour
                                    meilleur que la veille. Nous nous appuyons sur un réseau de Marraines.<br/>
                                    Qui sont nos Marraines? Elles ont toutes des histoires, des chemins, des allures et
                                    des goûts différents - elles n’ont en commun que d’être belles et elles-même.<br/>
                                </p>
                            {% endif %}
                            {% if type == 'partenaire' %}
                                <h1><span class="borderBlack">Nos partenaires</span></h1><br/>
                                <p>Ils partagent nos valeurs, ils nous ont tendu la main, ils nous soutiennent de façon
                                    pérenne, ils présentent nos produits, ils ont accueilli notre travail, ou nous ont aidé
                                    dans notre aventure, ils parlent de nous avec passion...<br/>
                                    ou tout à la fois !<br/>
                                    Bref, ils nous aiment et nous aussi.<br/>
                                </p>
                            {% endif %}
                            {% if type == 'prestation' %}
                                <h1><span class="borderBlack">Nos prestations</span></h1><br/>
                                <p>Parce que nous sommes Artisans d’Art, nous faisons nos chapeaux. Mais parce que
                                    nous sommes amoureux de notre métier, nous souhaitons partager notre univers.<br/>
                                    Et puisque nous en avons pris le pli dans notre métier, c’est sur-mesure que nous
                                    vous proposons des prestations.<br/>
                                    Contactez-nous pour élaborer ensemble un évènement qui sera adapté à vos
                                    clients, à votre entreprise, et à vos ambitions.<br/>
                                    Des exemples pour mieux vous inspirer.<br/>
                                </p>
                            {% endif %}
                            {% if type == 'evenement' %}
                                <h1><span class="borderBlack">L'odyssée</span></h1><br/>
                                <p>Parce qu’on s’est promis de toujours venir à votre rencontre et de vous proposer
                                    toujours plus d’expériences et de fun, nous avons pris comme engagement de sortir
                                    de l’Atelier et de vous proposez des évènements.<br/>
                                    Enjoy!<br/>
                                </p>
                            {% endif %}
                            {% if type == 'portrait' %}
                                <h1><span class="borderBlack">Vos témoignages</span></h1><br/>
                                <p>Vos témoignages d’affection sont nombreux et certains méritent un éclairage pour
                                    encourager les plus timorés ou indécis. MERCI de partager vos sentiments et
                                    expériences ;-)<br/>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row marginContent text-center">
                    {% for data in datas %}
                        <div class="col-md-4 col-xs-12">
                            <a href="index.php?route=article&id={{ data.id }}">
                                <div class="thumbnail pad_articles borderBlackNav">
                                    <img src="../img/upload/{{ data.image }}" alt="{{ data.image }}">
                                    <div class="caption">
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12">
                                                <div class="row">
                                                    <h2 class="titre">{{ data.title }}</h2>
                                                    <p class="date">{{ data.date|date("d/m/Y") }}</p>
                                                </div>
                                                <div class="row txt_com">
                                                    <p>{{ data.sumup }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}

                    {% if type == 'marraine' and visibility.visibility == 1 %}
                    <div class="col-md-4 col-xs-12">
                        <a href="#">
                            <div class="thumbnail pad_articles borderBlackNav">
                                <img src="../img/fun.jpg" alt="recrutement_marraines">
                                <div class="caption">
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                            <div class="row">
                                                <h2 class="titre">Venez nous rejoindre</h2>
                                            </div>
                                            <div class="row txt_com">
                                                <p>Envie de devenir l'ambassadrice de nos chapeaux ?<br/></p>
                                                <p>Cliquez ici !</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endif %}

                    {% if type == 'partenaire' %}
                        <div class="col-md-4 col-xs-12">
                            <a href="#">
                                <div class="thumbnail pad_articles borderBlackNav">
                                    <img src="../img/fun.jpg" alt="recrutement_partenaires">
                                    <div class="caption">
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12">
                                                <div class="row">
                                                    <h2 class="titre">Venez nous rejoindre</h2>
                                                </div>
                                                <div class="row txt_com">
                                                    <p>Envie de nous soutenir et de devenir notre partenaire ?<br/></p>
                                                    <p>Cliquez ici !</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}

                    {% if type == 'portrait' %}
                        <div class="col-md-4 col-xs-12">
                            <a href="#">
                                <div class="thumbnail pad_articles borderBlackNav">
                                    <img src="../img/fun.jpg" alt="portraits">
                                    <div class="caption">
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12">
                                                <div class="row">
                                                    <h2 class="titre">Parlez nous de vous !</h2>
                                                </div>
                                                <div class="row txt_com">
                                                    <p>Laissez nous vos impressions ou partagez votre expérience !<br/></p>
                                                    <p>Cliquez ici !</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}