<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Clara Mocquot | Accueil</title>

    <!-- Importation des fonts Google -->
    <link href="https://fonts.googleapis.com/css?family=Overpass|PT+Sans|PT+Sans+Caption|PT+Serif|Roboto+Condensed"
          rel="stylesheet"/>
    <link rel="icon" type="image/png" href="img/logos/favicon.png"/>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet"/>

    <!-- Font Awesome -->
    <link href="css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/summernote.css">
    <link rel="stylesheet" href="css/admin.css">

    <!-- Style -->
    <link href="css/style.css" type="text/css" rel="stylesheet">

</head>
<body>
<!-- =========================
    SECTION ACCUEIL
============================== -->

<section class="container-fluid landingPageAccueil" id="accueil" style="background: url(img/pageHome/home.jpg)">
    <div class="row section_overlay">
        <a href="#navigation" id="title" class="titreGeneral">
            <div class="col-xs-offset-3 col-xs-6 home-container titreCadre1">
                <span>CLARA MOCQUOT</span>
                <hr class="trait">
                <h1 class="title">COIFFES & CHAPEAUX<br>
                    sur-mesure et à la demande</h1>
            </div>
        </a>
    </div>
</section>

<!-- =========================
    MOSAIQUE DE NAVIGATION
============================== -->

<section class="landingPageNavigation" id="navigation">
    <div class="section_overlay">


        <div class="container">
            <div class="logoHome"><a href="#navigation" id="link" class="titreGeneral borderBlack"> Clara MOCQUOT</a>
            </div>
            <div class="row navHeight">
                <div class="col-md-10 col-md-offset-1 padding">


                    <div class="row">
                        <div class="col-xs-12 col-md-4 stopPadding">
                            <a href="index.php?route=entreprise">
                                <div class="thumbnailHome borderBlack">
                                    <div class="captionHome">
                                        <h2>ENTREPRISE</h2>
                                    </div>
                                    <div class="captionHome2">
                                        <h2>ENTREPRISE</h2>
                                    </div>
                                    <img class="thumbnail"
                                         src="img/pageHome/mosaic1.jpg"
                                         alt="thumbnail image">
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-md-4 stopPadding">
                            <a href="index.php?route=manifeste">
                                <div class="thumbnailHome borderBlack">
                                    <div class="captionHome">
                                        <h2>MANIFESTE</h2>
                                    </div>
                                    <div class="captionHome2">
                                        <h2>MANIFESTE</h2>
                                    </div>
                                    <img class="thumbnail"
                                         src="img/pageHome/mosaic2.jpg"
                                         alt="thumbnail image">
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-md-4 stopPadding">
                            <a href="index.php?route=blogs&type=blog">
                                <div class="thumbnailHome borderBlack">
                                    <div class="captionHome">
                                        <h2>BLOG</h2>
                                    </div>
                                    <div class="captionHome2">
                                        <h2>BLOG</h2>
                                    </div>
                                    <img class="thumbnail"
                                         src="img/pageHome/mosaic3.jpg"
                                         alt="thumbnail image">
                                </div>
                            </a>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-12 col-md-4 stopPadding">
                            <a href="index.php?route=marraines&type=marraine">
                                <div class="thumbnailHome borderBlack">
                                    <div class="captionHome">
                                        <h2>MARRAINES</h2>
                                    </div>
                                    <div class="captionHome2">
                                        <h2>MARRAINES</h2>
                                    </div>
                                    <img class="thumbnail"
                                         src="img/pageHome/mosaic4.jpg"
                                         alt="thumbnail image">
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-md-4 stopPadding">
                            <a href="index.php?route=produits">
                                <div class="thumbnailHome borderBlack">
                                    <div class="captionHome">
                                        <h2>CHAPEAUX</h2>
                                    </div>
                                    <div class="captionHome2">
                                        <h2>CHAPEAUX</h2>
                                    </div>
                                    <img class="thumbnail"
                                         src="img/pageHome/mosaic5.jpg"
                                         alt="thumbnail image">
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-md-4 stopPadding">
                            <a href="index.php?route=partenaires&type=partenaire">
                                <div class="thumbnailHome borderBlack">
                                    <div class="captionHome">
                                        <h2>PARTENAIRES</h2>
                                    </div>
                                    <div class="captionHome2">
                                        <h2>PARTENAIRES</h2>
                                    </div>
                                    <img class="thumbnail"
                                         src="img/pageHome/mosaic6.jpg"
                                         alt="thumbnail image">
                                </div>
                            </a>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-12 col-md-4 stopPadding">
                            <a href="index.php?route=prestations&type=prestation">
                                <div class="thumbnailHome borderBlack">
                                    <div class="captionHome">
                                        <h2>PRESTATIONS</h2>
                                    </div>
                                    <div class="captionHome2">
                                        <h2>PRESTATIONS</h2>
                                    </div>
                                    <img class="thumbnail"
                                         src="img/pageHome/mosaic7.jpg"
                                         alt="thumbnail image">
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-md-4 stopPadding">
                            <a href="index.php?route=evenements&type=evenement">
                                <div class="thumbnailHome borderBlack">
                                    <div class="captionHome">
                                        <h2>EVENEMENTS</h2>
                                    </div>
                                    <div class="captionHome2">
                                        <h2>EVENEMENTS</h2>
                                    </div>
                                    <img class="thumbnail"
                                         src="img/pageHome/mosaic8.jpg"
                                         alt="thumbnail image">
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-12 col-md-4 stopPadding">
                            <a href="index.php?route=portraits&type=portrait">
                                <div class="thumbnailHome borderBlack">
                                    <div class="captionHome">
                                        <h2>VOS PORTRAITS</h2>
                                    </div>
                                    <div class="captionHome2">
                                        <h2>VOS PORTRAITS</h2>
                                    </div>
                                    <img class="thumbnail"
                                         src="img/pageHome/mosaic9.jpg"
                                         alt="thumbnail image">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =========================
    SECTION NOUVEAUTÉS
============================== -->

<section class="container-fluid landingPageNouveautes text-center" id="nouveautes">
    <div class="section_overlay2">
        <div class="row">
            <div class="col-md-offset-5 col-md-2">
                <h2 class="titreCadre2">NOUVEAUTÉS</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="row">
                                <div class="col-xs-12 col-md-4">
                                    <div class="thumbnailSlider marginCollections">
                                        <img class="thumbnail"
                                             src="img/pageChapeaux/modele1.1.jpg"
                                             alt="thumbnail image">
                                        <h1 class="titre_photo">Chapeau d'hiver</h1>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-4">
                                    <div class="thumbnailSlider marginCollections">
                                        <img class="thumbnail"
                                             src="img/pageChapeaux/modele1.2.jpg"
                                             alt="thumbnail image">
                                        <h1 class="titre_photo">Chapeau d'été</h1>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-4">
                                    <div class="thumbnailSlider marginCollections">
                                        <img class="thumbnail"
                                             src="img/pageChapeaux/modele1.3.jpg"
                                             alt="thumbnail image">
                                        <h1 class="titre_photo">Chapeau d'lapin</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-xs-12 col-md-4">
                                    <div class="thumbnailSlider marginCollections">
                                        <img class="thumbnail"
                                             src="img/pageChapeaux/modele1.4.jpg"
                                             alt="thumbnail image">
                                        <h1 class="titre_photo">Chapeau d'échappement</h1>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div class="thumbnailSlider marginCollections">
                                        <img class="thumbnail"
                                             src="img/pageChapeaux/modele2.1.jpg"
                                             alt="thumbnail image">
                                        <h1 class="titre_photo">Chapeau de miel</h1>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div class="thumbnailSlider marginCollections">
                                        <img class="thumbnail"
                                             src="img/pageChapeaux/modele2.2.jpg"
                                             alt="thumbnail image">
                                        <h1 class="titre_photo">Chapeau chapi</h1>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-xs-12 col-md-4">
                                    <div class="thumbnailSlider marginCollections">
                                        <img class="thumbnail"
                                             src="img/pageChapeaux/modele2.3.jpg"
                                             alt="thumbnail image">
                                        <h1 class="titre_photo">Chapeau de printemps</h1>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4">
                                    <div class="thumbnailSlider marginCollections">
                                        <img class="thumbnail"
                                             src="img/pageChapeaux/modele2.4.jpg"
                                             alt="thumbnail image">
                                        <h1 class="titre_photo">Chapeau d'automne</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- =========================
    SECTION ACTUALITÉS
============================== -->

<section class="container-fluid landingPageActualites" id="actualites">
    <div class="section_overlay">
        <div class="row">
            <div class="col-md-offset-5 col-md-2">
                <h2 class="titreCadre2 text-center">ACTUALITÉS</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="row">

                    <div class="col-md-4 col-xs-12 text-center">
                        <h2 class="text-center">Dernier Evenement</h2>
                        <a href="index.php?route={{ evenement.type }}&id={{ evenement.id }}">
                            <div class="thumbnail pad_articles borderBlack">
                                <img src="../img/upload/{{ evenement.image }}" alt="{{ evenement.image }}">
                                <div class="caption">
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                            <div class="row">
                                                <h2 class="titre">{{ evenement.title }}</h2>
                                                <p class="date">{{ evenement.date|date("d/m/Y") }}</p>
                                            </div>
                                            <div class="row txt_com">
                                                <p>{{ evenement.sumup }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-4 col-xs-12 text-center">
                        <h2 class="text-center">Dernier Blog</h2>
                        <a href="index.php?route={{ blog.type }}&id={{ blog.id }}">
                            <div class="thumbnail pad_articles borderBlack">
                                <img src="../img/upload/{{ blog.image }}" alt="{{ blog.image }}">
                                <div class="caption">
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                            <div class="row">
                                                <h2 class="titre">{{ blog.title }}</h2>
                                                <p class="date">{{ blog.date|date("d/m/Y") }}</p>
                                            </div>
                                            <div class="row txt_com">
                                                <p>{{ blog.sumup }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-4 col-xs-12 text-center">
                        <h2 class="text-center">Dernier Portrait</h2>
                        <a href="index.php?route={{ portrait.type }}&id={{ portrait.id }}">
                            <div class="thumbnail pad_articles borderBlack">
                                <img src="../img/upload/{{ portrait.image }}" alt="{{ portrait.image }}">
                                <div class="caption">
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                            <div class="row">
                                                <h2 class="titre">{{ portrait.title }}</h2>
                                                <p class="date">{{ portrait.date|date("d/m/Y") }}</p>
                                            </div>
                                            <div class="row txt_com">
                                                <p>{{ portrait.sumup }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br/>

<footer>
    <div class="container pdp">
        <div class="row ">
            <div class="col-md-4 col-xs-4 ">
                <div class="row">
                    <div class="col-md-4 col-xs-4  ">
                        <a href="https://www.facebook.com/claramocquotchapeaux/" target="_blank"><img
                                    src="img/logos/logoFacebook.png" class="fb"></a>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <a href="https://www.instagram.com/claramocquotchapeaux/?hl=fr" target="_blank"><img
                                    src="img/logos/logoInstagram.png"></a>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <a href="https://fr.pinterest.com/" target="_blank"><img src="img/logos/logoPinterest.png"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-0 col-xs-3 col-xs-offset-1 contact">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#contact"
                        data-whatever="@mdo">
                    <Cont>CONTACT</Cont>
                </button>
                <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="exampleModalLabel">Formulaire de contact</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Nom:</label>
                                        <input type="text" class="form-control" id="recipient-name">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Prenom:</label>
                                        <input type="text" class="form-control" id="recipient-name">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="control-label">Adresse email:</label>
                                        <input type="email" class="form-control" id="recipient-name"
                                               placeholder="dupont@exemple.fr">
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="control-label">Message:</label>
                                        <textarea class="form-control" id="message-text"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                <button type="button" class="btn btn-default">Envoyer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-4">
                <div class="row">
                    <div class="col-md-4 col-xs-4">
                        <a href="https://wildcodeschool.fr/" target="_blank"><img src="img/logos/logoWildCodeSchool.png"></a>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <a href="#mentions" data-target="#mentions" data-toggle="modal"><img
                                    src="img/logos/logoInfo.png"></a>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="mentions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Mentions légales</h4>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/landingPage.js"></script>
<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
</body>
</html>