{% extends "base.html.twig" %}
{% block title %}{{ hats[0].name|raw }}{% endblock %}

{% block content %}
    <div class="container-fluid containerProduit">
        <div class="row">
            <div class="col-xs-5 sliderProduit">
                <div class="row">
                    <div id="chapeau" class=" col-xs-10 col-xs-offset-1 carousel slide"
                         data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            {% set index=0 %}
                            {% for hat in hats %}
                                <li data-target="#chapeau" data-slide-to="{{ index }}"
                                    class="{% if index==0 %}active {% endif %}"></li>
                                {% set index = index +1 %}
                            {% endfor %}
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1">
                                <div class="carousel-inner" role="listbox">
                                    {% set index=0 %}
                                    {% for hat in hats %}

                                        <div class="item {% if index == 0 %}active{% endif %}">
                                            <img src="../img/upload/{{ hat.image }}" alt="{{ hat.image }}" class="borderBlackNav">
                                        </div>
                                        {% set index = index +1 %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#chapeau" role="button"
                           data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#chapeau" role="button"
                           data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>

         <div class="col-xs-5 col-xs-offset-1 produitDescription">

            <a href="index.php?route=produits"><p class="text-left returnList"><span class="fa fa-angle-double-left"></span>
                    retour à la
                    liste</p></a><br/>

             <h1 class="titleProduit borderBlack">{{ hats[0].name|raw }}</h1>


            <p><span class="DescProduit">Description:</span><br/>{{ hats[0].content|raw }}</p>

            <p><span class="DescProduit"> Prix:</span> {% if hats[0].unavailable ==1 %}Produit indisponible {% elseif hats[0].old==1 %}  Indisponible{% else %}{{ hats[0].price }}€{% endif %}</p>
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#Se_renseigner"
                    data-whatever="@mdo">
                <Cont>Se renseigner</Cont>
            </button>
            <div class="modal fade" id="Se_renseigner" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="exampleModalLabel">Renseignement produit</h4>
                        </div>
                        <div class="headModalProduit">
                            <p>** FELICITATION! **<br>

                                Vous êtes sur la bonne voie pour avoir votre chapeau....<br><br>

                                Confiez-nous votre tour de tête, le modèle qui vous intéresse, et les finitions que vous

                                souhaiteriez.
                                Notez aussi si vous avez une date à respecter impérativement (pour une cérémonie,

                                un cadeau,...). Et toute autres informations qui pourrait orienter notre travail dans le bon sens.<br><br>

                                1 - Nous allons étudier votre demande, vérifiez la disponibilité des matières, et évaluer si nous

                                pouvons respecter vos souhaits.<br>

                                2 - Nous vous ferons part des délais estimés - et les modalités de paiement à respecter.<br>

                                3 - Nous lançons la confection de votre chapeau après validation.<br>

                                4 - Nous l’envoyons à réception du paiement.<br>

                                Vous pourrez alors le porter avec fierté.<br><br>

                                Vive les audacieux !</p>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post">
                                <div class="form-group">
                                    <input type="hidden" class="form-control" name="Chapeau" value="{{ hats[0].name|raw }}">
                                    <label for="name" class="control-label">Nom:</label>
                                    <input type="text" class="form-control" name="Nom">
                                </div>
                                <div class="form-group">
                                    <label for="firstname" class="control-label">Prenom:</label>
                                    <input type="text" class="form-control" name="Prenom">
                                </div>
                                <div class="form-group">
                                    <label for="email" class="control-label">Adresse email:</label>
                                    <input type="email" class="form-control" name="Email"
                                           placeholder="dupont@exemple.fr">
                                </div>
                                <div class="form-group">
                                    <label for="address" class="control-label">Ville:</label>
                                    <input type="text" class="form-control" name="Ville">
                                </div>
                                <div class="form-group">
                                    <label for="size" class="control-label">Taille:</label>
                                    <input type="text" class="form-control" name="Taille">
                                </div>
                                <div class="form-group">
                                    <label for="comment" class="control-label">Commentaire:</label>
                                    <textarea class="form-control" name="Commentaire"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        Annuler
                                    </button>
                                    <button type="submit" name="submitproduit" class="btn btn-default">Envoyer
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <div class="buttonFB">
                <div class="fb-share-button" data-href="#" data-layout="button_count" data-size="small"
                     data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank"
                                                  href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fclara%2Fpublic%2Findex.php%3Froute%3Dproduit%23&amp;src=sdkpreparse">Partager</a>
                </div>
            </div>
         </div>

        </div>
    </div>
    </div>

{% endblock %}
